<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row mt-5">
        <h1>Home Page</h1>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias atque veniam
          aspernatur repudiandae voluptatum eius tempore obcaecati. Qui commodi
          voluptatibus corporis ipsa totam? Aperiam illo, praesentium suscipit neque
          quasi eius?
        </p>
    </div>
</div>


<%- include('./partials/footer.ejs') %>
