<%- include('./partials/header.ejs') %>
<div class="container bg-dark text-light mt-3 m-auto p-3 rounded box-shadow " style="width: 40%;">
  <div class="row mt-1">
    <h1 class="">Login  Form</h1>
    <hr />
    <form method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          required
          placeholder="Enter Your Email Address"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          required
          id="password"
          placeholder="Enter Your Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
